[Unit]
Description=Forward SOCKS connections over BLE to a mobile device.

[Service]
ExecStart=/usr/bin/socks-forwarder
Environment="SOCKS_PROXY=localhost:5000"
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
