[Unit]
Description=Forward SOCKS connections over BLE to a mobile device.
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/usr/bin/socks-forwarder
Environment="SOCKS_PROXY=localhost:1080"
Environment="RUST_LOG=debug"

[Install]
WantedBy=multi-user.target
